<fieldset
  class="form-checkbox-group"
  [ngClass]="layoutClass()"
  [signalModel]="field()"
  [form]="form()"
  role="group"
>
  <legend class="sr-only">{{ field().label }}</legend>

  @for (option of field().options(); track option.value) {
    <label class="checkbox-group-option">
      <input
        type="checkbox"
        class="checkbox"
        [value]="option.value"
        [checked]="isChecked(option)"
        (change)="toggleOption(option)"
      />
      <span class="label-text">{{ option.label }}</span>
    </label>
  }
</fieldset>
