<div class="form-input-wrapper">
  <input
    type="number"
    class="form-input"
    [attr.aria-describedby]="ariaDescribedBy()"
    [attr.aria-invalid]="error() ? 'true' : 'false'"
    [attr.name]="name()"
    [required]="isRequired()"
    [attr.aria-required]="isRequired()"
    [id]="name()"
    [placeholder]="config()?.placeholder"
    [disabled]="disabled()"
    [step]="config()?.precision ?? 1"
    [(value)]="value"
    (input)="handleInput($event)"
    (change)="handleBlur()"
    (blur)="handleBlur()"
  />
</div>
