<div
  class="form-rating"
  role="radiogroup"
  [signalModel]="field()"
  [form]="form()"
>
  <div class="rating-stars">
    @for (index of stars(); track index) {
      <button
        class="star"
        type="button"
        role="radio"
        [attr.aria-checked]="field().value() === index + 1"
        [attr.aria-label]="'Rate ' + (index + 1) + ' star'"
        [class.filled]="field().value() >= index + 1"
        (click)="setRating(index + 1)"
      >
        ★
      </button>
    }
  </div>
</div>
