.rating-stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  .star {
    color: #dcdcdc;
    appearance: none;
    border: none;
    outline: none;
    padding: 0 !important;
    width: fit-content;
    background: transparent;

    &.filled {
      color: #00aeff;
    }
  }
}
