@if (!isHidden()) {
  <div
    class="form-control"
    [class.has-error]="field().error()"
    [class.is-success]="!field().error() && field().value()"
    [attr.data-form-field]="name()"
    #formControl
  >
    @defer (on viewport(formControl)) {
      @if (field().type !== FormFieldType.CHECKBOX) {
        <label class="form-label" [for]="name()">
          {{ field().label }}
          @if (isRequired()) {
            <span class="required-asterisk">*</span>
          }
        </label>
      }
      @switch (field().type) {
        @case (FormFieldType.TEXT) {
          <signal-form-text-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.PASSWORD) {
          <signal-form-password-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.CHECKBOX) {
          <signal-form-checkbox-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.CHECKBOX_GROUP) {
          <signal-form-checkbox-group-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.NUMBER) {
          <signal-form-number-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.AUTOCOMPLETE) {
          <signal-form-autocomplete-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.TEXTAREA) {
          <signal-form-textarea-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.SELECT) {
          <signal-form-select-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.RADIO) {
          <signal-form-radio-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.DATETIME) {
          <signal-form-datetime-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.MULTISELECT) {
          <signal-form-multiselect-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.CHIPLIST) {
          <signal-form-chip-list-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.FILE) {
          <signal-form-file-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.COLOR) {
          <signal-form-color-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.MASKED) {
          <signal-form-masked-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.RATING) {
          <signal-form-rating-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.SLIDER) {
          <signal-form-slider-field [field]="field()" [form]="form()" />
        }
        @case (FormFieldType.SWITCH) {
          <signal-form-switch-field [field]="field()" [form]="form()" />
        }
      }

      <div class="form-caption">
        @if (field().error()) {
          <span class="form-error" role="alert" [id]="'error-' + name()">
            {{ field().error() }}
          </span>
        } @else if (field().config?.hint) {
          <span class="form-hint" role="alert" [id]="'hint-' + name()">
            {{ field().config.hint }}
          </span>
        }
      </div>
    } @loading (minimum 100ms) {
      loading...
    } @error {
      <p>there was a problem loading your input</p>
    }
  </div>
}
