@if (!isHidden()) {
  <div
    class="form-control"
    [class.has-error]="field().error()"
    [class.is-success]="!field().error() && field().value()"
    [attr.data-form-field]="field().name"
  >
    @if (field().type !== FormFieldType.CHECKBOX) {
      <label class="form-label" [for]="field().name">
        {{ field().label }}
      </label>
    }
    @switch (field().type) {
      @case (FormFieldType.TEXT) {
        <signal-form-text-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [name]="field().name"
          [config]="field().config"
          [disabled]="isDisabled()"
        />
      }
      @case (FormFieldType.PASSWORD) {
        <signal-form-password-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [name]="field().name"
          [config]="field().config"
          [disabled]="isDisabled()"
        />
      }
      @case (FormFieldType.CHECKBOX) {
        <signal-form-checkbox-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [label]="field().label"
          [name]="field().name"
          [config]="field().config"
          [disabled]="isDisabled()"
        />
      }

      @case (FormFieldType.CHECKBOX_GROUP) {
        <signal-form-checkbox-group-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [label]="field().label"
          [name]="field().name"
          [config]="field().config"
          [disabled]="isDisabled()"
          [valueType]="field().valueType"
          [options]="filteredOptions()"
        />
      }

      @case (FormFieldType.NUMBER) {
        <signal-form-number-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [name]="field().name"
          [disabled]="isDisabled()"
        />
      }

      @case (FormFieldType.AUTOCOMPLETE) {
        <signal-form-autocomplete-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [name]="field().name"
          [loadOptions]="field().loadOptions"
          [disabled]="isDisabled()"
        />
      }

      @case (FormFieldType.TEXTAREA) {
        <signal-form-textarea-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [name]="field().name"
          [disabled]="isDisabled()"
        />
      }

      @case (FormFieldType.SELECT) {
        <signal-form-select-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [disabled]="isDisabled()"
          [name]="field().name"
          [options]="filteredOptions()"
        />
      }

      @case (FormFieldType.RADIO) {
        <signal-form-radio-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [name]="field().name"
          [disabled]="isDisabled()"
          [options]="filteredOptions()"
        />
      }

      @case (FormFieldType.DATETIME) {
        <signal-form-datetime-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [name]="field().name"
          [disabled]="isDisabled()"
        />
      }

      @case (FormFieldType.MULTISELECT) {
        <signal-form-multiselect-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [disabled]="isDisabled()"
          [name]="field().name"
          [options]="filteredOptions()"
        />
      }

      @case (FormFieldType.CHIPLIST) {
        <signal-form-chip-list-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [disabled]="isDisabled()"
          [name]="field().name"
          [options]="filteredOptions()"
        />
      }

      @case (FormFieldType.FILE) {
        <signal-form-file-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [name]="field().name"
          [disabled]="isDisabled()"
        />
      }
      @case (FormFieldType.COLOR) {
        <signal-form-color-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [name]="field().name"
          [disabled]="isDisabled()"
        />
      }
      @case (FormFieldType.MASKED) {
        <signal-form-masked-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [name]="field().name"
          [disabled]="isDisabled()"
        />
      }
      @case (FormFieldType.RATING) {
        <signal-form-rating-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [name]="field().name"
          [disabled]="isDisabled()"
        />
      }
      @case (FormFieldType.SLIDER) {
        <signal-form-slider-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [name]="field().name"
          [disabled]="isDisabled()"
        />
      }
      @case (FormFieldType.SWITCH) {
        <signal-form-switch-field
          [(touched)]="field().touched"
          [(dirty)]="field().dirty"
          [(value)]="field().value"
          [(error)]="field().error"
          [config]="field().config"
          [name]="field().name"
          [disabled]="isDisabled()"
        />
      }
    }

    <div class="form-caption">
      @if (field().error()) {
        <span class="form-error" role="alert" [id]="'error-' + field().name">
          {{ field().error() }}
        </span>
      } @else if (field().config?.hint) {
        <span class="form-hint" role="alert" [id]="'hint-' + field().name">
          {{ field().config.hint }}
        </span>
      }
    </div>
  </div>
}
