<fieldset
  class="form-radio-group"
  role="radiogroup"
  [attr.name]="field().name"
  [attr.aria-invalid]="field().error() ? 'true' : 'false'"
>
  <legend class="sr-only">{{ field().label }}</legend>

  @for (option of field().options(); track option.value) {
    <label class="form-radio-option">
      <input
        type="radio"
        [signalModel]="field()"
        [form]="form()"
        [name]="field().name"
        [value]="option.value"
        [checked]="field().value() === option.value"
      />
      {{ option.label }}
    </label>
  }
</fieldset>
