.form-error-summary {
  background-color: #f44336;
  color: #ffffff;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 4px;
  font-weight: 600;
  max-width: 100%;
  margin-bottom: 1rem;

  & button {
    appearance: none !important;
    border: none;
    background: transparent;
    color: white;
    outline: none;
  }
}
