<div
  class="form-select-wrapper"
  role="combobox"
  [attr.name]="name()"
  [attr.id]="name()"
  [attr.aria-expanded]="showDropdown()"
  [attr.aria-describedby]="ariaDescribedBy()"
  [attr.aria-invalid]="error() ? 'true' : 'false'"
  [attr.aria-owns]="listboxId"
  (click)="toggleDropdown()"
  tabindex="0"
  (keydown.enter)="toggleDropdown()"
>
  <div class="form-select-display">
    {{ displayValue() || (config()?.placeholder ?? "Select an option") }}
  </div>
  <div class="form-select-arrow">▾</div>
</div>
